[submodule "kernel-patches"]
	path = kernel-patches
	url = https://github.com/Polycom-Open-Firmware/poly-kernel-patches.git
	branch = main
[submodule "rootfs"]
	path = rootfs
	url = https://github.com/Polycom-Open-Firmware/poly-rootfs.git
	branch = main
